<h2>Listing entries</h2>

<table>
  <tr>
    <th>Student</th>
    <th>Code</th>
    <th>Name</th>
    <th>Credits</th>
    <th>Grade</th>
    <th>Status</th>
    <th>Statuscode</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.student_number %></td>
    <td><%= entry.code %></td>
    <td><%= entry.name %></td>
    <td><%= entry.credits %></td>
    <td><%= entry.grade %></td>
    <td><%= entry.status %></td>
    <td><%= entry.statuscode %></td>
    <td><%= entry.date %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
