<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['', ''],
            <% @plot.each do |p| %>
            <%="[#{p[0]},#{p[1]}]"%>,
            <% end %>
        ]);

        var options = {
            hAxis: { title:'months'},
            vAxis: { title:'credits'},
            legend: { position:'none' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Student number:</b>
  <%= student_number(@student) %>
</p>

<p>
  <b>Started:</b>
  <%= @student.started %>
</p>

<p>
  <b>Credits:</b>
  <%= @student.credits_total %>
</p>

<p><b>Progress</b></p>

<div id="chart_div"></div>

<p><b>Statistic groups</b></p>

<ul>
  <% @student.groups.each do |group| %>
      <li><%= link_to group.name, group_path(group, :order => "credits_completed_year", :year => 2012), :rel => 'tooltip', :title => group.description %></li>
  <% end %>
</ul>

<h2>succesfull</h2>

<table class="table table-striped">
  <tr>
    <th>Course</th>
    <th>Credits</th>
    <th>Grade</th>
    <th>Date</th>
    <th>Statucode</th>
    <th>Code</th>
  </tr>

  <% @student.success.sort_by { |s| s.date }.reverse.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= entry.credits %></td>
        <td><%= entry.grade %></td>
        <td><%= entry.date %></td>
        <td><%= entry.statuscode %></td>
        <td><%= entry.code %></td>
      </tr>
  <% end %>
</table>

<h2>failed</h2>

<table class="table table-striped">
  <tr>
    <th>Course</th>
    <th>Credits</th>
    <th>Grade</th>
    <th>Date</th>
    <th>Code</th>
  </tr>

  <% @student.failed.each do |entry| %>
      <tr>
        <td><%= entry.name %></td>
        <td><%= entry.credits %></td>
        <td><%= entry.grade %></td>
        <td><%= entry.date %></td>
        <td><%= entry.statuscode %></td>
      </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
