<p id="notice"><%= notice %></p>

<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['', 'Credits'],
                <% @plot.each do |p| %>
                <%= p %>,
                <% end %>
            ]);

            var options = {
                title:'<%=@sorted%>',
                hAxis:{title:'', minValue:0, maxValue: <%= @plot.size %>},
                vAxis:{title:'', minValue:0, maxValue: <%= @plot.last.last %> },
                legend:'none'
            };

            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>

<% end %>


<h2><%= @statistic %></h2>

<div class="container">
  <div class="row">
    <div class="span3">
      <h3>Statistics</h3>
      <table>
        <% @aggregate.keys.each do |key| %>
            <tr>
              <td> <%= key %> </td>
              <td> <%= @aggregate[key] %> </td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="span9">
      <div id="chart_div" style="height: 300px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Students sorted by <%= @sorted %> </h2>

      <p><em>sort by clicking a colum header</em></p>

      <table >
        <tr>
          <th></th>
          <th>Student number</th>
          <th> <%= link_to "credits total", statistic_path(@statistic, :order => "credits_total") %> </th>
          <th> <%= link_to "credits registered 12-13", statistic_path(@statistic, :order => "credits_registered") %> </th>
          <th> <%= link_to "credits completed 12-13", statistic_path(@statistic, :order => "credits_completed") %> </th>
          <th> <%= link_to "tkt completed 12-13", statistic_path(@statistic, :order => "tkt_credits_completed") %> </th>
          <th> <%= link_to "math completed 12-13", statistic_path(@statistic, :order => "math_credits_completed") %> </th>
          <th> <%= link_to "other completed 12-13", statistic_path(@statistic, :order => "other_credits_completed") %> </th>
        </tr>

        <% i=0 %>
        <% @students.each do |student| %>
            <tr>
              <td><%= i+=1; i %></td>
              <td><%= link_to student.student_number, student %></td>
              <td><%= student.credits %></td>
              <td><%= student.credits_year 2012 %></td>
              <td><%= student.credits_completed_year 2012 %></td>
              <td><%= student.credits_completed_year 2012, "58" %></td>
              <td><%= student.credits_completed_year 2012, "57" %></td>
              <td><%= student.other_credits_completed_year 2012 %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

