
<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['', 'Credits'],
                <% @plot.each do |p| %>
                <%="[#{p[0]},#{p[1]}]"%>,
                <% end %>
            ]);

            var map = {
                <% @plot.each do |p| %>
                   <%="#{p[0]}:#{p[2]}"%>,
                   <% end %>
             };

            var options = {
                title:'<%=@sorted%>',
                hAxis:{title:'', minValue:0, maxValue: <%= @plot.size %>},
                vAxis:{title:'', minValue:0, maxValue: <%= @plot.last[1] %> },
                pointSize: 3,
                legend:'none'
            };

            var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

            function selectHandler() {
              var selectedItem = chart.getSelection()[0];
              if (selectedItem) {
                var i = data.getValue(selectedItem.row, 0);
                open("http://rage.jamo.fi/students/"+map[i],'_self');
              }
            }

            google.visualization.events.addListener(chart, 'select', selectHandler);

            chart.draw(data, options);
        }

    </script>

<% end %>

<h2><%= @statistic %> year: <%=@year %>-<%=@year-1999 %> </h2>

<div class="container">
  <div class="row">
    <div class="span2">
      <h3>Statistics</h3>
      <table>
        <% @aggregate.keys.each do |key| %>
            <tr>
              <td> <%= key %> </td>
              <td> <%= @aggregate[key] %> </td>
            </tr>
        <% end %>
      </table>
    </div>
    <div class="span10">
      <div id="chart_div" style="height: 300px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2>Students sorted by <%= @sorted %> </h2>

      <p><em>sort by clicking a colum header</em></p>

      <table >
        <tr>
          <th></th>
          <th>Student number</th>
          <th> <%= link_to "credits total", statistic_path(@statistic, :year => @year, :order => "credits_total") %> </th>
          <th> <%= link_to "credits registered", statistic_path(@statistic,:year => @year,  :order => "credits_registered") %> </th>
          <th> <%= link_to "credits completed", statistic_path(@statistic, :year => @year,  :order => "credits_completed") %> </th>
          <th> <%= link_to "tkt completed", statistic_path(@statistic, :year => @year, :order => "tkt_credits_completed") %> </th>
          <th> <%= link_to "math completed", statistic_path(@statistic, :year => @year, :order => "math_credits_completed") %> </th>
          <th> <%= link_to "other completed", statistic_path(@statistic, :year => @year, :order => "other_credits_completed") %> </th>
        </tr>

        <% i=0 %>
        <% @students.each do |student| %>
            <tr>
              <td><%= i+=1; i %></td>
              <td><%= link_to student_number(student), student %></td>
              <td><%= student.credits %></td>
              <td><%= student.credits_year @year %></td>
              <td><%= student.credits_completed_year @year %></td>
              <td><%= student.credits_completed_year @year, "58" %></td>
              <td><%= student.credits_completed_year @year, "57" %></td>
              <td><%= student.other_credits_completed_year @year %></td>
            </tr>
        <% end %>
      </table>

      <!--
      If new data is entered to database you might need to
      <%= button_to( "reset the broser cache", touch_statistic_path(@statistic)  ) %>
      -->
    </div>
  </div>
</div>

