<% content_for :head do %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script>

        function Ctrl($scope) {

            $scope.addTodo = function () {

                $.ajax({
                    url : "../courses.json",
                    dataType : "json",
                    data: { 'course' : $scope.search }
                }).done($scope.do);

                $scope.search = '';
            };

            $scope.do = function (data) {
                console.log(data[1]);
                $('.answer').text(data[1]);
            }

        }
    </script>
<% end %>

<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </div>
  <div class="field">
    Grading date<br />
    <%= f.date_select :date %>
  </div>
    <div class="field">
      Reneval exam date<br />
      <%= f.date_select :date2 %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<h2>Check grading/exam dates for a course</h2>
<div ng-controller="Ctrl">

  <form ng-submit="addTodo()">
    <input type="text" ng-model="search" size="30"
           placeholder="course name">
    <input class="btn-primary" type="submit" value="search">
  </form>

  <div class="answer"></div>

</div>