<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        var initialHeight = 600;

        var options = {
            height:initialHeight,
            chartArea:{ top:20, height:initialHeight - 100 },
            hAxis:{ title:'months'},
            vAxis:{ title:'credits', maxValue: <%= @max %> },
            legend:{ position:'none' }
        };

        var first = 0;

        var success = true;

        var map;

        function drawChart() {
            var data1 = google.visualization.arrayToDataTable([
                <%="[#{@plot1.first}]"%>,
                <% @plot1.each do |row| %>
                <%="[#{row}]"%>,
                <% end %>
            ]);

            var map1 = {
                    <% @map1.each do |p| %>
                    <%="#{p[0]}:#{p[1]}"%>,
                    <% end %>
                    };

            var data2 = google.visualization.arrayToDataTable([
                <%="[#{@plot2.first}]"%>,
                <% @plot2.each do |row| %>
                <%="[#{row}]"%>,
                <% end %>
            ]);

            var map2 = {
                    <% @map2.each do |p| %>
                    <%="#{p[0]}:#{p[1]}"%>,
                    <% end %>
                    };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            function selectHandler() {
                var selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    var i = selectedItem['column']

                    open("http://rage.jamo.fi/students/" + map[i], '_self');
                }
            }

            google.visualization.events.addListener(chart, 'select', selectHandler);

            if (first == 0) {

                $('#plus').click(function (e) {
                    options['height'] = options['height'] + 20;
                    options['chartArea']['height'] = options['chartArea']['height'] + 20;
                    drawChart();
                    e.preventDefault();
                });

                $('#minus').click(function (e) {
                    options['height'] = options['height'] - 20;
                    options['chartArea']['height'] = options['chartArea']['height'] - 20;
                    drawChart();
                    e.preventDefault();
                });

                $('#change').click(function (e) {
                    console.log("fuk")
                    success = !success;
                    drawChart();
                    e.preventDefault();
                });

                $(document).keyup(function (e) {
                    if (e.keyCode == 187) {
                        options['height'] = options['height'] + 20;
                        options['chartArea']['height'] = options['chartArea']['height'] + 20;
                        drawChart();
                    } else if (e.keyCode == 189) {
                        options['height'] = options['height'] - 20;
                        options['chartArea']['height'] = options['chartArea']['height'] - 20;
                        drawChart();
                    }

                    e.preventDefault();
                });

                first++;
            }

            if (success) {
                $("#current").html("students who passed the course");
                map = map1;
                chart.draw(data1, options);
            }
            else {
                $("#current").html("students who failed the course");
                map = map2;
                chart.draw(data2, options);
            }
        }
    </script>

<% end %>

<p id="notice"><%= notice %></p>

<h3><%= @course.name %> </h3>

<p>
  <%= @course.term %>
</p>

<h4>
  <div id="current"></div>
</h4>

<div class="btn">
  <a href="#" id="change">change</a>
</div>

<p></p>

<div class="btn">
  <a href="#" id="plus">+</a>
</div>

<div class="btn">
  <a href="#" id="minus">-</a>
</div>

<p><em>you can also use + and - of keyboard to scale the figure</em></p>

<div id="chart_div"></div>
