<!DOCTYPE html>
<html>
<head>
  <title>Opintorekisteri</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<%= link_to "entries", entries_path %>
<%= link_to "students", students_path %>
<%= link_to "statistics", statistics_path %>

<%= yield %>

</body>
</html>
